.form-main{
    width: 1000px;
    height: 700px;
    border: solid black 2px;
    margin: 0px 100px;
    position: relative;
    bottom: 270px;
}

h1{
    text-align: left;
    padding: 10px 0px;
}

h4{
    text-align: left;
    padding: 0px 45px;
    position: relative;
    bottom: 30px;
}

.post-img{
    height: 340px;
    position: relative;
    bottom: 25px;
}
.form-input{
    width: 870px;
    position: relative;
    bottom: 47px;
    margin: 0px;
}
.content{
    height: 75px;
    width: 870px;
    position: relative;
    bottom: 47px;
    margin: 0px;
}

.post-button{
    position: relative;
    left: 430px;
    bottom: 35px;
    width: 55px;
}