.single-post{
    background-color: grey;
    height: 380px;
    width: 800px;
    margin: 0px 0px 300px 200px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    background-color: hotpink;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.author-display{
    display: flex;
    align-items: center;
    margin: 0px 20px;
}
.author-display img{
    height: 50px;
    border-radius: 50%;
}

.pic-post{
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
}

.pic-post img{
    height: 285px;
}

h1{
    margin:  0px 20px;
}